

<div class="navbar">
  <div class="navbar-inber">
    <a class="brand" href="#">Contact</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Submissions</a></li>
      <li><a href="#">Issues</a></li>
      <form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
    </ul>


<div class="hero-unit"><center>
  <h1>Montreal Natural</h1>
  <p>A Free Magazine Featuring Organic Living,
Natural Health, and Spirituality</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
  </center>
</div>
<center>
<ul class="thumbnails">
  <li class="span4">
    <a href="Organic Living" class="thumbnail">
      <h3>Organic Living</h3>
      <%= image_tag("pictures/health-wellness1.jpg", :alt => "health-wellness1 feed") %>
    </a>
  </li>
  <li class="span4">
    <a href="Natural Health" class="thumbnail">
      <h3>Natural Health</h3>
      <%= image_tag("pictures/green-foods-1024x708.jpg", :alt => "green-foods-1024x708 feed") %>
    </a>
  </li>
  <li class="span4">
    <a href="Spirituality" class="thumbnail">
      <h3>Spirituality</h3>
      <%= image_tag("pictures/vancouver.jpg", :alt => "vancouver feed") %>
    </a>
  </li>
  <li class="span4">
    <a href="Issues" class="thumbnail">
      <h3>Issues</h3>
      <%= image_tag("pictures/green-girl-small(1).jpg", :alt => "green-girl-small(1) feed") %>
    </a>
  </li>
</ul>
 </center>
 <div class="footer">
      <small>
    <%= link_to "Montreal Natural", "http://montrealnatural.com" %> © 2013 by Montreal Natural. All rights reserved.
      <small> 
      </div>